asgiref
attrs
certifi
charset-normalizer
Django==4.2.29
django-cors-headers
django-filter
django-rest-framework==0.1.0
djangorestframework
djangorestframework_simplejwt
drf-spectacular
drf-yasg
environs
idna
inflection
jsonschema
jsonschema-specifications
marshmallow
packaging
payme_pkg==3.3.2
pillow
PyJWT
python-dotenv
pytz
PyYAML
referencing
requests
rpds-py
sqlparse
tzdata
uritemplate
urllib3
